<!--<div class="row candies">!-->
    <div class="col l4">
    
        <ul class="center-align">
            <li><h6 style="font-family: 'Montserrat', sans-serif; font-weight: 600; margin-bottom: 15px;">{{data.title}}</h6></li>
            <li><img src="../../../assets/Resources/{{data.img}}.jpg" id="candy"></li>
            <li><p class="eltexto" style="font-family: 'Montserrat', sans-serif;font-weight: 300;">{{data.description}}</p></li>
            <li><a class="waves-effect btn" style="color: #000;font-family: 'Montserrat', sans-serif;" (click)="addToCart()">SEE DETAILS</a></li>
        </ul>
    </div>
    
<!--    <div class="row cosa col l6 pull-l1">
    
        <ul class="center-align">
            <li><h6 style="font-family: 'Montserrat', sans-serif; font-weight: 600; margin-bottom: 15px;">Sweet Fiesta</h6></li>
            <li><img src="../../../assets/Resources/mexicandy.jpg" id="candy"></li>
            <li><p class="eltexto" style="font-family: 'Montserrat', sans-serif;font-weight: 300;">Delicious candies from Mexico!<br>Enjoy all the sweet and spicy<br>traditional flavors.</p></li>
            <li><a class="elboton" style="color: #000;font-family: 'Montserrat', sans-serif;" href="" target="_blank">SEE DETAILS</a></li>
        </ul>
       
    </div>!-->
<!--</div>!-->
   