
 <nav >
    <div class="nav-wrapper row ">
      <a href="#" class="brand-logo center valign-wrapper black-text">Logo</a>
      <ul  class="left hide-on-med-and-down">
        <li><a href="#" class="black-text">About</a></li>
        <li><a href="#" class="black-text">Suscribe</a></li>

      </ul>
      <ul  class="right hide-on-med-and-down">
        <li><a href="#" class="black-text">Shop</a></li>
        <li><a href="#" class="black-text">IMG1</a></li>
        <li><a href="#" class="black-text">IMG2</a></li>
      </ul>
    </div>
  </nav>
