<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Mexican Candies!!</h1>
                <div class="imagen-producto">
                    <img  src="../../assets/Resources/mexicandy-2.png">
                </div>
            </div>
        </div>
        <div class="right">
            <h5 class="bold">Box full of mexican candy</h5>
            <div class="text-inf">
                <p>Our Mexican candy box contains a mix of candies, gummies, chips and drinks. 
                    The candy selection is carefully hand-picked personally by our satff who was born and raised in Mexico.
                    Our Box includes some of the most popular authentic Mexican candies brought from Mexico, so you know it's authentic. Candy selection varies.
                    Image is for illustrative purposes only, candy selection may differ from what is shown.</p>
                   
            </div>
            <div class="add-but"><button class="add">Add to cart</button></div>

            <div class="prev-but"><button class="prev">Product List</button></div>
            
        </div>
        
    </div>