<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<div class="header row">
    <ul class="elementos valign-wrapper">
        <li class="col l2 push-l2"><a style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 600;" href="about">About</a></li>
        <li class="col l2 push-l1"><a style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 600;" href="suscribe">Suscribe</a></li>
        <li class="col l2 push-l1"><a style="color: #000" href=""> <img src="../../../assets/Resources/sweetooth.png" id="logo"> </a></li>
        <li class="col l2 push-l3"><a style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 600;" href="shop">Shop</a></li>
        <li class="col l2 push-l2"><a style="color: #000" href="user"><i class="material-icons">person</i></a></li>
        <li class="col l2 push-l1"><a style="color: #000" href="cart"><i class="material-icons">shopping_cart</i></a></li>

    </ul>
</div>